#head1{
    background-color: forestgreen;
    color:magenta;
    border: 2px solid cadetblue;
}
#div1{
    color:blueviolet;
    justify-content: center;
}
.header{
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    padding: 5px;
    margin: 10px;
    height:100px;
    justify-content: space-between;
}
.logo{
    height: 60px;
    width: 60px;
    border: 1px solid blueviolet;
    margin: 10px;
    padding: 10px;
}
.head-nav-bar > ul{
    display:flex;
    justify-content: center;
    list-style-type: none;

}
.head-nav-bar > ul >li{
    padding: 10px;
    margin: 10px;
    font-size: medium;
}
.nav-cart-container{
    padding: 10px;
    margin: 10px;
    
}
.log-btn{
    padding: 0 15px;
    cursor: pointer;
}
.nav-cart-container > a{
    padding: 5px;
    margin: 5px;
    display: block;
    justify-content: center;
    font-size: medium;
}
.search-bar-container{
    display: flex;
    justify-content: first baseline;
    border: 1px solid #f0f0f0;
    padding: 5px;
    margin: 10px;
}
.search, .submit-search, .search-para{
    padding: 5px;
    margin: 5px;
}
.submit-search
{
    font-size: large;
}
.filter-top-res{
    padding: 5px;
    margin: 5px;
    font-size: large;
    cursor: pointer;
}
.res-container{
    border: 1px solid #f0f0f0;
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 190px;
    margin: 5px;
    padding: 5px 10px;
    justify-items: left;
    border: 1px solid peru;
}
.res-card:hover{
    border: 2px double dodgerblue;
    cursor: pointer;
}
.res-img{
    height: 150px;
    width: 190px;
}
.res-rate-list{
    margin: 3px;
    padding: 2px;
    justify-items: left;
    font-size: medium;
    list-style-type: none;
}
.res-rate-list > li{
    justify-items: left;
}
.shim-container{
    display: flex;
    flex-wrap: wrap;
}
.shim-card{
    background-color: gainsboro;
    width: 190px;
    margin: 10px;
    height:250px;
}
.indiv-restaurant{
    justify-content: center;
    padding: 0px 100px
}
.r-name, .menu-font{
    padding: 0px 20px;
}
.menu-font{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}
.rest-container{
    padding: 0px 50px;
    font-weight: bold;
    border-top: 10px outset rgb(181, 125, 220);
    border-bottom: 10px outset rgb(181, 125, 220);
    border-radius: 60px;
}
.dummy{
    width: 50px;
}
.r-detail{
    display: flex;
    font-size: medium;
    justify-items: first baseline;
}
.r-type{
    margin: 0px;
    font-size: small;
}
.menue-list-item{
   margin: 0px 5px;
}
.menue-list{
    list-style-type: none;
}
.emp-card{
    padding: 10px 20px;
    border-bottom: 1px solid  cornflowerblue;
}
.net-stat > p {
    display: inline;
}